<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="main">
                Lo lamentamos, el recurso solicitado no ha sido encontrado.
            </div>            
        </LayoutView>
    </NotFound>
</Router>
