@page "/checkout"
@using BlazingPizza.Client.Services
@inject OrderState OrderState
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<div class="main">
    <EditForm Model="OrderState.Order.DeliveryAddress" 
              OnValidSubmit="PlaceOrder">
        <div class="checkout-cols">
            <div class="checkout-order-details">
                <h4>Revisar la orden</h4>
                <OrderReview Order="OrderState.Order" />
            </div>
            <div>
                <h4>Enviar a...</h4>
                <AddressEditor Address="@OrderState.Order.DeliveryAddress" />
            </div>
        </div>

        <button type="submit" class="checkout-button btn btn-warning">
            Aceptar la orden
        </button>
        <DataAnnotationsValidator />
    </EditForm>
</div>

@code {

    async Task PlaceOrder()
    {
        var Response =
        await HttpClient.PostAsJsonAsync("orders", OrderState.Order);
        var NewOrderId =
            await Response.Content.ReadFromJsonAsync<int>();
        //Listo para otra orden
        OrderState.ResetOrder();
        NavigationManager.NavigateTo($"myorders/{NewOrderId}");
    }

}
