@page "/myorders"
@attribute [Authorize]
@inject HttpClient HttpClient

<div class="main">
    <TemplatedList Loader="LoadOrders">
        <Loading>Cargando...</Loading>
        <Empty>
            <h2>No se ha realizado alguna orden</h2>
            <a class=" btn btn-success" href="">Ordena alguna pizza</a>
        </Empty>
        <Item Context="Item">
            <div class="col">
                <h5>@Item.Order.GetFormattedCreatedTime()</h5>
                Pizzas:
                <strong>@Item.Order.Pizzas.Count()</strong>
                Precio total:
                <strong>$@Item.Order.GetFormattedTotalPrice()</strong>
            </div>
            <div class="col">
                Estatus: <strong>@Item.StatusText</strong>
            </div>
            <div class="col text-right">
                <a href="myorders/@Item.Order.OrderId" class="btn btn-success">
                    Rastrear &gt;
                </a>
            </div>
        </Item>
    </TemplatedList>
</div>

@code {

    Task<List<OrderWithStatus>> LoadOrders()
    {
        //await Task.Delay(10000);
        return 
            //Task.FromResult(new List<OrderWithStatus>());
            HttpClient.GetFromJsonAsync<List<OrderWithStatus>>("orders");
    }
}
