@page "/myorders"
@inject HttpClient HttpClient
<div class="main">
    @if (OrdersWithStatus == null)
    {
        <text>Cargando...</text>
    }
    else if (OrdersWithStatus.Count == 0)
    {
        <h2>No se ha realizado alguna orden</h2>
        <a class=" btn btn-success" href="">Ordena alguna pizza</a>
    }
    else
    {
        <div class="list-group orders-list">
            @foreach (var Item in OrdersWithStatus)
            {
                <div class="list-group-item">
                    <div class="col">
                        <h5>@Item.Order.GetFormattedCreatedTime()</h5>
                        Pizzas:
                        <strong>@Item.Order.Pizzas.Count()</strong>
                        Precio total:
                        <strong>$@Item.Order.GetFormattedTotalPrice()</strong>
                    </div>
                    <div class="col">
                        Estatus: <strong>@Item.StatusText</strong>
                    </div>
                    <div class="col text-right">
                        <a href="myorders/@Item.Order.OrderId" class="btn btn-success">
                            Rastrear &gt;
                        </a>
                    </div>
                </div>
            }
        </div>
    }
</div>

@code {
    List<OrderWithStatus> OrdersWithStatus;
    protected override async Task OnParametersSetAsync()
    {
        OrdersWithStatus =
            await HttpClient.GetFromJsonAsync<List<OrderWithStatus>>("orders");
    }
}
