@import url('font/quicksand.css');

html, body {
    height: 100%;
}

body {
    padding-top: 5rem;
    flex-direction: column;
    font-family: 'quicksand';
    overflow-y: hidden;
}

.content {
    display: flex;
    height: 100%;
    z-index: 1;
    background-color: white;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.loading-bar {
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 250px);
    width: 500px;
    height: 6px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2)
}

/*Loading Bar*/

    .loading-bar::after {
        content: '';
        display: block;
        width: 200px;
        height: 100%;
        background-color: #dc105a;
        animation: progressbar-slide 1s infinite;
        animation-timing-function: ease-in-out;
    }

@keyframes progressbar-slide {
    0% {
        transform: translateX(-200px);
    }

    70% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(500px);
    }
}
