@inherits LayoutComponentBase
<div class="top-bar">
    <img class="logo" src="images/logo.svg" />
    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="images/pizza-slice.svg" />
        <div>Get Pizza</div>
    </NavLink>    
    <a href="myorders" class="nav-tab">
        <img src="images/bike.svg" />
        <div >Mis órdenes</div>
    </a>
</div>

<div class="content px-4">
    @Body
</div>
