@foreach(var Pizza in Order.Pizzas)
{
    <p>
        <strong>
            @(Pizza.Size) cm
            @Pizza.Special.Name
            ($@Pizza.GetFormattedTotalPrice())
        </strong>
    </p>
    <ul>
        @foreach(var Topping in Pizza.Toppings)
        {
            <li>+ @Topping.Topping.Name</li>
        }
    </ul>
}
<p>
    <strong>
        precio total:
        $@Order.GetFormattedTotalPrice()
    </strong>
</p>

@code {
    [Parameter]
    public Order Order { get; set; }
}
